<h1>投稿編集画面</h1>
<% if @list.errors.any? %>  
    <%= @list.errors.count %>error
    <% @list.errors.full_messages.each do |message| %>
    <%= message %>  
    <% end %>  
  <% end %>

<%= form_with model:@list, local:true do |f| %>
  <label for="inputbody">内容</label>
  <%= f.text_area :body, autofocus: true, id:"inputBody"%> <br>
  <%= f.submit "更新" %>
<% end %>
<%= link_to "削除", list_path(@list), method: :delete %>