<h1><%= @user.name %>さんのKondate</h1>
<%= link_to attachment_image_tag(@user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg"), user_path(@user.id) %>
<%= @list.body %>

<% if @list.user == current_user %>
<%= link_to "Edit", edit_list_path(@list) %>
<%= link_to "Destroy", list_path(@list), method: :delete %>
<% end %>