<!DOCTYPE html>
<html>
  <head>
    <title>Kondate</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="jquery.min.js"></script>
    <script src="app.js"></script>
<script src="https://kit.fontawesome.com/fc2857b7e6.js" crossorigin="anonymous"></script>
  </head>
<header>
<div class="container">
<nav class="navbar">


  <h1 class="title">
  <div class="fas fa-utensils">
     <%= "Kondate" %>
  </div>
  </h1>  

    <% if user_signed_in? %>
      <ul class="nav">
      <div class="btn-radius-gradient-wrap">

      <li class="btn btn-radius-gradient"> 
         <%= link_to "みんなの献立", lists_path, class:"btn btn-border" %>
      </li>
      <li class="btn btn-radius-gradient">
      <%= link_to "User", users_path, class:"btn btn-border" %>
      </li>
      <li class="btn btn-radius-gradient"> 
      <%= link_to "Information", user_path(current_user), class:"btn btn-border" %> 
      </li>
      <li class="btn btn-radius-gradient">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-border" %>
      </li>
    <% else %>
      <li class="btn btn-radius-gradient">
        <%= link_to "新規登録", new_user_registration_path, class:"btn btn-border" %>
      </li>
      <li class="btn btn-radius-gradient">
        <%= link_to "ログイン", new_user_session_path, class:"btn btn-border" %>
      </li>
      </ul>
      </div>
    <% end %>

  
</nav>
</div>
</header>

  <body>
    <%= yield %>
  </body>
</html>